asgiref==3.11.1
Django==4.2.30
et_xmlfile==2.0.0
gunicorn==23.0.0
openpyxl==3.1.5
packaging==26.2
pillow==11.3.0
python-decouple==3.8
sqlparse==0.5.5
typing_extensions==4.15.0
whitenoise==6.11.0
reportlab==4.4.9
svglib==1.5.1

dj-database-url==3.0.1
